<?xml version="1.0" encoding="utf-8"?>
<Media Key="863657a1-61e9-4d8b-9080-b254a433cce9" Alias="foundry-stack-wp.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/foundryStackWppng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-06T10:38:48</CreateDate>
    <NodeName Default="foundry-stack-wp.png" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Azure AI Foundry-diagram met links ontwikkeltools (Copilot Studio, Visual Studio, GitHub, SDK) die aansluiten op een centrale modelcatalogus met Azure OpenAI Service, AI Search, Agent Service, Content Safety en Machine Learning, plus secties voor evaluaties, aanpassing, governance, monitoring en observabiliteit.]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/f0ohamea/foundry-stack-wp.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>