<?xml version="1.0" encoding="utf-8"?>
<Media Key="9a361838-510d-4fed-bbda-b920ad84fb06" Alias="Generated Image April 16, 2026 - 2_54PM.jpg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/GeneratedImageApril1620262_54PMjpg</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-05T13:55:51</CreateDate>
    <NodeName Default="Generated Image April 16, 2026 - 2_54PM.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/w5jhalde/generated-image-april-16-2026-2_54pm.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>