<?xml version="1.0" encoding="utf-8"?>
<Media Key="61abf335-f4e0-488b-a6cf-2a28754b1db4" Alias="image" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-05T14:13:41</CreateDate>
    <NodeName Default="image" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Radiale visualisatie van 78 Microsoft Copilot-producten en -tools (april 2026), gegroepeerd in kleurgecodeerde categorieën met verbindingslijnen voor overlappingen en nesting; puntgrootte toont relatieve prominentie op basis van zoekvolume en media-aandacht.]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/xi2p1v2j/microsoft-copilot-chart-infographic-by-teybannerman.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>