<?xml version="1.0" encoding="utf-8"?>
<Media Key="ea3ee454-c5c0-4d5a-9e23-1b96b929e933" Alias="Mooie foto" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MooieFoto</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-08T13:36:11</CreateDate>
    <NodeName Default="Mooie foto" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Persoon met laptop in een kleurrijk tulpenveld bij windmolens en een kanaal onder een bewolkte hemel]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/1mxhqxfj/chatgpt-image-apr-22-2026-03_11_19-pm.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>