<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa3c91f0-bcdf-4414-9342-161af09fa09b" Alias="Nice background image" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/NiceBackgroundImage</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-08T13:33:59</CreateDate>
    <NodeName Default="Nice background image" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Person sitting in a tulip field with a laptop, overlooking Dutch windmills, a river, and colorful flower rows under a cloudy sky]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/p3nhutfw/chatgpt-image-apr-22-2026-03_11_19-pm.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>