<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ccfa57c-ffb8-4521-b703-3a4eb39a5895" Alias="ny" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/ny</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-07T08:53:27</CreateDate>
    <NodeName Default="ny" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[New York City skyline with the Empire State Building at center during sunset]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/4nxjtswr/ny.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>