<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ccfa57c-ffb8-4521-b703-3a4eb39a5895" Alias="ny" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ny</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-07T08:53:27</CreateDate>
    <NodeName Default="ny" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/4nxjtswr/ny.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>