<?xml version="1.0" encoding="utf-8"?>
<Media Key="143a4581-7e59-4fae-8c94-e233ef345738" Alias="ny.webp" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/nywebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-07T08:32:06</CreateDate>
    <NodeName Default="ny.webp" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Panoramisch uitzicht op de skyline van New York met het Empire State Building centraal.]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/b0hhzirq/ny.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>