<?xml version="1.0" encoding="utf-8"?>
<Media Key="e509f64b-a94b-4b4d-92a7-df36fc11445b" Alias="test" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/test</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-05T13:31:00</CreateDate>
    <NodeName Default="test" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[test]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/yq4e4uzc/square_logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>